#!/bin/bash

# This script holds most of one liners

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Make command line clipboard working on Linux too.
# See: http://superuser.com/questions/288320/whats-like-osxs-pbcopy-for-linux
if command -v xsel >/dev/null 2>&1; then
    alias pbcopy='xsel --clipboard --input'
    alias pbpaste='xsel --clipboard --output'
elif command -v xclip >/dev/null 2>&1; then
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi

# Make `open` working on Linux too.
if command -v xdg-open >/dev/null 2>&1; then
    alias open='xdg-open &>/dev/null'
fi

# Lock the screen when going away from keyboard
if [[ "$(uname)" == 'Linux' ]]; then
    if command -v gnome-screensaver-command >/dev/null 2>&1; then
        # For Linux
        alias afk='gnome-screensaver-command -l'
    elif command -v dbus-send >/dev/null 2>&1; then
        alias afk='dbus-send --type=method_call --dest=org.gnome.ScreenSaver /org/gnome/ScreenSaver org.gnome.ScreenSaver.Lock'
    fi
elif [[ "$(uname)" == "Darwin" ]]; then
    # For macOS
    alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
fi

# On macOS create aliases for few GNU coreutils
if [[ "$(uname)" == "Darwin" ]]; then
    alias ls="gls --color=auto"
    alias dircolors="gdircolors"
fi

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
