#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Load up "input preprocessor" for less.
if command -v lesspipe >/dev/null 2>&1; then
    eval "$(lesspipe)"
else
    export LESSOPEN='|"$HOME/.lessfilter" %s'
fi

# Enhance Python repl by enabling history and completion
export PYTHONSTARTUP="$HOME/.local/bin/pythonstartup.py"
export PYTHON_HISTORY_FILE="$HOME/.python_history"

# Load up custom dircolors
eval "$(dircolors -b ~/.dir_colors)"

# Set up pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
